.form_container{
    background-color: #FFFF8C;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
label{
    margin-right: 20px;
}
input{
    height: 30px;
    border-radius: 5px;
    border: none	;
}
.title_input{
    margin-right: 20px;
}
.add_btn{
    background-color: #FFDEE9;
    height: 30px;
    border-radius: 10px;
    padding: 0px 40px;
    border: none;
}