.todobox {
    border: 2px solid skyblue;
    border-radius: 15px;
    padding: 20px;
}
.todobox>h1 {
    margin: 0;
}
.complete_btn{
    height: 30px;
    border-radius: 10px;
    padding: 0px 40px;
    border: solid 2px #FFDEE9;
    background-color: white;
}
.cancel_btn{
    height: 30px;
    border-radius: 10px;
    padding: 0px 40px;
    border: solid 2px #FFFF8C;
    background-color: white;
}